tr:nth-child(2n+1) {
  text-shadow: 0.1em 0.1em 0.1em maroon;
}
.sidenote {text-shadow: none !important;}

section:before {
  content: "客：海陸腔";
  float: right;
  font-size: 0.5em;
}

.SI {display: none !important;}
.HL {
  display: initial !important;
}